/*-- scss:defaults --*/
$web-font-path: "";

/*-- scss:rules --*/

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
}
