/*-- css styles --*/
#quarto-header {
  border-bottom: 0.5px solid black;
}

.alt-background {
  background-color: black;
}

.navbar {
  max-height: 475px;
}

.navbar-logo {
  max-height: 150px;
  width: auto;
  padding-right: 4px;
  align-items: baseline;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  max-height: 475px;
  flex-wrap: inherit;
  align-items: baseline;
  justify-content: center;
}

h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: none;
  letter-spacing: 1px;
}




.header-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.header-banner .header-image {
  position: absolute;
  display: none;
  height: auto;
}

.header-text {
  text-align: center;
}

.header-block {
  padding-top: 66px;
  padding-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 825px;
  border-bottom: 0.5px solid black;
}

.header-block h2 {
  margin-top: 70px;
  border-bottom: 0px;
}

@media(min-width: 900px) {
.header-block {
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-width: 1080px) {
.header-block {
  margin-left: auto;
  margin-right: auto;
}
}




.article-block {
  padding-top: 66px;
  padding-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 825px;
  border-bottom: 0.5px solid black;
}

@media(min-width: 900px) {
.article-block {
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-width: 1080px) {
.article-block {
  margin-left: auto;
  margin-right: auto;
}
}

.article-block h2 {
  margin-top: 70px;
  margin-left: 0px;
  border-bottom: 0px;
  color: black;
}




.pullout-block {
  text-align: center;
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 1024px;
}

.pullout-block h2,
.pullout-block p {
  text-align: center;
  color: white;
}

@media(min-width: 900px) {
.pullout-block {
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-width: 1080px) {
.pullout-block {
  margin-left: auto;
  margin-right: auto;
}
}




.button {
  border: none;
  border-radius: 0px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button p {
  color: black;
  margin-bottom: 0px;
}

.button:hover {
  color: black;
}

.button1 {
  background-color: white;
}




.top-grid-text h6,
.top-grid-text h2,
.top-grid-text p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.top-grid-block {
  padding-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 825px;
}

@media(min-width: 900px) {
.top-grid-block {
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-width: 1080px) {
.top-grid-block {
  margin-left: auto;
  margin-right: auto;
}
}

.bottom-grid-text h6,
.bottom-grid-text h2,
.bottom-grid-text p {
  text-align: left;
  margin-top: 10px;
  margin-right: 30px;
  color: #6c757d;
  border-bottom: none;
}

.bottom-grid-block {
  padding-top: 30px;
  padding-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 825px;
  border-bottom: 0.5px solid black;
}

@media(min-width: 900px) {
.bottom-grid-block {
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-width: 1080px) {
.bottom-grid-block {
  margin-left: auto;
  margin-right: auto;
}
}



.bannerad-text {
  text-align: center;
}

.bannerad-block {
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 70px;
  max-width: 825px;
}

.bannerad-block p {
  text-align: center;
  color: white;
  margin-bottom: 0px;
}

@media(min-width: 900px) {
.bannerad-block {
  margin-left: auto;
  margin-right: auto;
}
}

@media (min-width: 1080px) {
.bannerad-block {
  margin-left: auto;
  margin-right: auto;
}
}




.nav-footer {
  height: 448px;
}