/*-- css styles --*/
.navbar-brand > img {
  max-height: 36px;
}

.quarto-title-banner {
  color: #6c757d;
} 

.dsb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.further-info {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: .75em;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}